:where(.wp-site-blocks *:focus) {
    outline: none
  }

.archive main:where(.wp-site-blocks) > *,
.archive main {
  margin-block-start: 0;
}

@import "woocommerce-cart-borders.scss";

.hidden {
  display:none;
}

body, p {
  font-weight: 300;
}
strong,b {
  font-weight: 600;
}
h2 strong,
h3 strong,
h4 strong {
  font-weight:500;
}
  
  .hg-section {
    padding: 45px 10px !important;
    overflow: hidden;
    margin-top:0;
    margin-bottom:0;
  }
  
  @media(min-width:640px) {
    .hg-section {
      padding: 90px 20px !important;
    }
  }
  
  img {
    transition: 0.5s;
    transition-delay: 0.5s;
    font-size: 10px;
    line-height: 120%;
  }
  
  img:not([src]) {
    opacity: 0;
  }
  
  img[src] {
    opacity: 1;
  }
  
  .woocommerce-product-gallery {
    opacity: 1 !important;
  }
  
  header.wp-block-template-part {
    position: sticky;
    top: 0;
    z-index: 5;
    transition: 0.33s;
    overflow: hidden;
    max-width: 100vw;
  }
  
  @media (max-width: 781px) {
    .columnas-cats.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
      flex-basis: calc(50% - 15px) !important;
      box-sizing: border-box;
      padding: 0 10px;
    }
  
    #hg-toolbar {
      display: inline-block;
      transform-origin: 100% 50%;
      transform: scale(.8)translateX(5px);
    }
  
    .wp-block-woocommerce-product-categories {
      padding-right: 20px !important;
    }
  }
  
  
  
  
  
  
  .wc-block-components-product-image img {
    object-fit: contain;
    max-width: 100% !important;
    aspect-ratio: auto !important;
    filter: brightness(1.025)saturate(1.1)contrast(1.3);
  }
  
  
  
  
  /* columnas grid MASONRY */
  
  @media(min-width:600px) {
  
    .wc-block-product-template.is-flex-container[class*="columns"],
    .wc-block-product-template__responsive[class*="columns"] {
      column-count: 5;
      column-gap: 20px;
      display: block;
      grid: none;
    }
  
    .featured-products .wc-block-product-template.is-flex-container[class*="columns"],
    .featured-products .wc-block-product-template__responsive[class*="columns"] {
      column-count: 3;
  
    }
  }

  .wc-block-product-template.is-flex-container.is-flex-container[class*="columns"]>li,
  .wc-block-product,
  .wp-block-post.product {
      width: auto;
      break-inside: avoid-column;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
    }

  .featured-products {
    padding-left:0!important;
    padding-right:0!important;
  }

  .featured-products .wc-block-featured-product {
    align-content: flex-end;
    align-items: flex-end;
    border-radius:5px!important;
    min-height: 0 !important;
    aspect-ratio: 4 / 6;

    .wc-block-featured-product__wrapper {
      z-index:2;
      align-items: flex-end;
      align-content: flex-end;
    }
    .wc-block-featured-product__title {
      font-size:1.22rem!important;
      @media(min-width:640px) {
        font-size:1.33rem!important;
      }
    }
    
  }

  .wc-block-featured-product__wrapper > * {
    position:relative;
    z-index:3;
  }

  .featured-products .wc-block-featured-product .background-dim__overlay {
    position:absolute;
    background-color:transparent!important;
    height:50%;
    width:100%;
    content:""!important;
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    //color:rgb(32, 56, 182);
    background:linear-gradient(180deg,#00000000 0%,rgba(32, 56, 182,0.4) 25%,rgba(32, 56, 182,0.88) 100%);
    z-index:2!important;
    filter: saturate(0.5)brightness(0.6);
  mix-blend-mode: darken;
  }

  .featured-products .wc-block-featured-product img {
    filter:saturate(1.3);
    z-index:1;
  }
  .featured-products .wc-block-featured-product .wp-element-button {
    border:1px solid #fff!important;
    font-size:0.8rem!important;
    background-color: transparent!important;
    white-space:nowrap;
  }
  
  
  .wc-block-product-template.is-flex-container>li,
  .wc-block-product {
    display: flex !important;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    height: auto;
    margin-bottom: 30px;
  }
  
  .wp-block-product-text {
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px !important;
    margin: 0 !important;
  }
  
  .wp-block-product-text .wp-block-post-title a {
    color: #000 !important;
  }
  
  .wp-block-product-text .wp-block-post-terms {
    font-size: 0.65rem !important;
  }
  
  .wp-block-product-name {
    font-family: var(--wp--preset--font-family--work-sans);
    font-size: 0.9rem !important;
    letter-spacing: -0.04rem;
  }
  
  
  .wp-block-product-name,
  .wp-block-product-price,
  .wp-block-woocommerce-product-price {
    margin: 0 !important;
    width: 100%;
    text-align: left;
  }
  
  @media (max-width: 599px) {
  
    .wc-block-product-template.is-flex-container.is-flex-container.columns-5>li,
    .wc-block-product-template__responsive>li {
      width: calc(50% - 0.7em) !important;
    }
  
    .wc-block-product-template__responsive {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  
  
  .wp-block-tiptip-hyperlink-group-block {
    text-decoration: none
  }
  
  .wc-blocks-header-pattern {
    transition: 0.4s;
  }
  
  .scrolled .wc-blocks-header-pattern {
    background: var(--wp--preset--color--background);
  }
  
  .wp-block-site-logo img {
    transition: 0.6s;
  }
  
  .scrolled .wp-block-site-logo img {
    width: 200px;
  }
  
  @media(max-width:767px) {
    .wc-blocks-header-pattern {
      padding: 0 10px !important;
    }
  
    /* logo mobile */
    .scrolled .wp-block-site-logo img,
    .wp-block-site-logo img {
      width: 160px;
      margin-left: -10px;
    }
  }
  
  .spikes {
    position: relative;
    z-index: 1;
  }
  
  .spikes::after,
  .spikes::before {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 0;
    z-index: 10;
    display: block;
    height: 25px;
    background-size: 25px 100%;
    background-image: linear-gradient(135deg, #FDFBEF 25%, transparent 25%), linear-gradient(225deg, #FDFBEF 25%, transparent 25%);
    background-position: 0 0;
  }
  
  .spikes::before {
    top: auto;
    bottom: 0;
    transform: rotate(180deg);
  }
  
  .spikes.spikes-top::before {
    content: none;
    display: none
  }
  
  
  
  
#categorias {
  background-color:rgba(253, 251, 239,.94)!important;
}
  
.wc-block-product-categories-list {
  list-style: none;
    margin: 0;
    padding: 0;
    &.wc-block-product-categories-list--depth-0 ul {
      margin: 10px 0 -22px 0 !important;
      overflow: hidden;
      animation-name: dropdown;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      padding-top: 10px;
      border-top: 3px solid rgb(32, 56, 182);
      li {
        padding-left:10px!important;
        li {
          padding-left:10px!important;
        }
      }
    }
  .wc-block-product-categories-list-item {
    margin: 0 0 10px 0;
    position: relative;
    z-index: 1;
    font-size: 13px;
    @media(min-width:1024px) {
      font-size: 1.15rem;
    }
    @media(min-width:1300px) {
      font-size: 1.3rem;
    }
    a {
      text-decoration:none;
      font-weight:bold;
      &:hover {
        text-decoration:underline;
      }
    }
    &>span {
      position: absolute;
      right: 0;
      &.wc-block-product-categories-list-item-count {
        position: static !important;
        color: #222;
      }
    }
    svg {
      width: 24px;
      @media(min-width:1024px) {
        width: 30px;
      }
    }
  }
  &>.wc-block-product-categories-list-item {
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(32, 56, 182) !important;
  }
}

  
  
  
@keyframes dropdown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 2000px;
  }
}
  
  
  .paginationblock {
    padding: 50px 0 100px 0 !important;
  }
  
  .paginationblock>a,
  .wp-block-query-pagination-numbers>* {
    display: inline-block;
    text-decoration: none;
    margin: 0 6px;
    text-align: center;
    min-width: 36px;
    height: 30px;
    padding: 3px 0;
    line-height: 30px;
    border: 2px solid var(--wp--preset--color--foreground);
  }
  
  .paginationblock>a {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .wp-block-query-pagination-numbers>.current {
  
    color: #fff;
    background: var(--wp--preset--color--foreground);
  }
  
  .buscador-btn--label,
  .wp-block-navigation__responsive-container-open {
    display: none;
  }
  
  .buscador-icono,
  .buscador-icono svg,
  .menu-mobile--toggle,
  .menu-mobile-toggle svg {
    width: 25px;
    height: 25px;
    stroke-width: 2px;
  }
  
  .wp-block-image.buscador-icono img {
    vertical-align: top;
  }
  
  @media(min-width:600px) {
    .buscador-btn--label {
      display: inline;
      font-weight: 500;
    }
  
    .buscador-btn {
      margin-right: 20px;
      border-style: solid;
      width: auto;
      line-height: 40px;
      padding: 0 15px;
      cursor: pointer;
      border-width: 0 2px;
    }
  
    .menu-mobile--toggle {
      display: none;
    }
  
  
  
  }
  
  .menu-mobile--toggle {
    margin-right: 20px !important;
  }
  
  .menu-mobile--toggle svg {
    width: 30px;
    height: 30px;
  }
  
  .menu-mobile--toggle svg rect {
    stroke: var(--wp--preset--color--foreground);
    stroke-width: 1px;
  }
  
  :root :where(.wp-element-button:hover, .wp-block-button__link:hover) {
    background-color: var(--wp--preset--color--primary);
    border-color: var(--wp--preset--color--contrast-2);
    border-color: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--background);
  }
  
  .wp-block-button.ornament-button {
    background: url(https://hobbygalaxia.com/wp-content/themes/hobbygalaxia/ornament/button-ornament-white.svg) center / 100% 100% no-repeat !important;
    min-width: 170px;
    padding: 0 40px !important;
    text-align: center;
    line-height: 65px;
    border: 0 !important;
    background-color: transparent !important;
    display: inline-block;
    position:relative;
    z-index:1;
  }
  
  .wp-block-button.ornament-button .wp-block-button__link {
    font-family: var(--wp--preset--font-family--bodoni-moda);
    color: #fff !important;
    border: 0 !important;
    background: none !important;
    text-transform: uppercase;
    font-size: 15px !important;
    letter-spacing: 2px;
    transform: translateY(1px);
    padding: 0 !important;
  }
  
    .wp-block-button.ornament-button::before {
      filter: tint;
      content: "";
      position: absolute;
      background: gold;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity:0;
      transition:0.5s;
      /* mix-blend-mode: color-burn; */
      mask: url(https://hobbygalaxia.com/wp-content/themes/hobbygalaxia/ornament/button-ornament-white.svg) center / 100% 100% no-repeat !important;
    }
    .wp-block-button.ornament-button:hover::before {
      opacity:1;
    }
  
  .wp-block-button.ornament-button.ornament-button--black {
    background-image: url(https://hobbygalaxia.com/wp-content/themes/hobbygalaxia/ornament/button-ornament.svg) !important;
    color: black !important;
  }
  
  .wp-block-button.ornament-button.ornament-button--black.ornament-button--black-semi {
    background-image: url(https://hobbygalaxia.com/wp-content/themes/hobbygalaxia/ornament/button-ornament-black-semi.svg) !important;
    color: black !important;
  }
  
  .wp-block-button.ornament-button.ornament-button--black .wp-block-button__link {
    color: #000 !important;
  }
  
  @media(max-width:640px) {
    .wp-block-button.ornament-button {
      padding: 10px 25px !important;
    }
  
    .wp-block-button.ornament-button .wp-block-button__link {
      font-size: 13px !important;
    }
  }
  
  
  
  
  
  @media(max-width:640px) {
    main.has-global-padding {
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
  
    .results-and-sort {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  
    .wc-block-product-results-count {
      font-size: 0.8rem;
    }
  
    .woocommerce div.product form.cart {
      text-align: center;
    }
  }
  
  
  .woocommerce div.product .wc-block-add-to-cart-form form.cart .quantity,
  .woocommerce div.product p.stock {
    display: none;
  }
  
  @media (max-width: 600px) {
    .wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  .woocommerce div.product form.cart button.single_add_to_cart_button,
  .woocommerce div.product form.cart button[name=add-to-cart] {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 320px;
    font-family: var(--wp--preset--font-family--work-sans);
    letter-spacing: 0.04rem;
    border: 2px solid #000;
  }
  
  .woocommerce div.product form.cart button.single_add_to_cart_button:hover,
  .woocommerce div.product form.cart button.single_add_to_cart_button:active,
  .woocommerce div.product form.cart button[name=add-to-cart]:hover,
  .woocommerce div.product form.cart button[name=add-to-cart]:active {
    color: #000;
    background: transparent;
  }

  .single .entry-content > p:first-of-type {
    font-size: 140%!important;
    font-family: var(--wp--preset--font-family--bodoni-moda);
    font-weight:normal;
  }

  .woocommerce.wc-block-catalog-sorting select.orderby {
    font-size: 0.7rem;
    border: 2px solid var(--wp--preset--color--foreground);
    background: #fff09d;
    color: var(--wp--preset--color--foreground);
    border-radius: 4px;
    height: 30px;
    padding: 0 15px;
    box-sizing: border-box;
    width: auto;
  }

  img {
    position:relative;
    z-index:1;
    transition:0.4s;
    &.error {
      min-height:120px;
      background:rgba(0,0,0,0.1);
      display:block;
      aspect-ratio:1 / 1!important;

      &::before {
        content:"Image not loaded: \a" attr(alt);
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        padding:5px;
        font-size:10px;
        text-align:left;
        color:#444;
      }
    }
  }
