.wc-block-components-quantity-selector:after,
.is-medium table.wc-block-cart-items:not(.wc-block-mini-cart-items):not(:last-child) .wc-block-cart-items__row,
.is-mobile table.wc-block-cart-items:not(.wc-block-mini-cart-items):not(:last-child) .wc-block-cart-items__row,
.is-small table.wc-block-cart-items:not(.wc-block-mini-cart-items):not(:last-child) .wc-block-cart-items__row,
.is-large.wc-block-cart .wc-block-cart-items,
.is-large.wc-block-cart .wc-block-cart-items td,
.wc-block-components-express-payment--checkout .wc-block-components-express-payment__title-container:before,
.wc-block-components-express-payment--checkout .wc-block-components-express-payment__title-container:after,
.wc-block-components-express-payment--checkout .wc-block-components-express-payment__content,
.wc-block-components-express-payment-continue-rule:after,
.wc-block-components-express-payment-continue-rule:before,
.wp-block-woocommerce-cart-order-summary-totals-block,
.wp-block-woocommerce-checkout-order-summary-totals-block,
.is-large .wp-block-woocommerce-checkout-order-summary-block,
.wc-block-components-totals-wrapper,
.wc-block-checkout__terms.wc-block-checkout__terms--with-separator,
.woocommerce table.shop_table,
.woocommerce table.shop_table td,
.woocommerce table.shop_table th {
    border-color:var(--wp--preset--color--foreground);
    border-width:2px;
    border-radius: 0;
}

.is-large .wp-block-woocommerce-checkout-order-summary-block {
    border-width:4px;
}

.woocommerce table.shop_table,
.woocommerce table.shop_table td,
.woocommerce table.shop_table th  {
    border-left:0;
    border-right:0;
}